@use "../../styles/fonts.module.scss" as *;
@use "../../styles/pallette.module.scss" as *;

.landing {
    padding: 8vh 6vw;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 110vh;
}

.layerMainText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 44rem;
    @media (min-width: 106.25em){
        max-width: 60rem;
     }    
    &_h1{
        @include inter-Font($white_font, 3.2vw, 2.1rem, 800);
        border: 2px solid #ffffff00;
        word-break:keep-all;
        -ms-word-break: keep-all;   
        line-height: clamp(2.5rem, 5.903vw + -0.5rem, 4.0rem);
        padding: .15rem 0;
        border: 1px solid #00000000;
        &:focus{
            outline: 1px solid $white_focus;
            outline-offset: 1px;
            border: 1px solid $blackActive;
        }
        @media (min-width: 91.25em) {
            line-height: clamp(2.5rem, 5.003vw +  -.5rem, 6.4rem);
        }
        &_span{
                padding: 0rem .6rem 0 .6rem;
            background: $completeBlack;
            &:nth-child(1){
                padding-bottom: .3rem
            }
            &:nth-child(3){
                padding-bottom: .1rem
            }
        }
    }
    &_h2{
        @include inter-Font($white_font, .7vw, 1rem, 300);
        border: 2px solid #ffffff00;
        line-height: 128%;
        border: 1px solid #00000000;
        &:focus{
            outline: 1px solid $white_focus;
            outline-offset: 1px;
            border: 1px solid $blackActive;
        }
    }
}


.layerConnectAcount{
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    margin: auto;
    &_p{
        @include inter-Font( $white_font, 0.20vw, .61rem, 200);
        text-align: center;
        font-weight: 400;
        line-height: 128%;
        letter-spacing: -0.000975rem;
        border: 1px solid #00000000;
        &:focus{
            outline: 1px solid $white_focus;
            outline-offset: 1px;
            border: 1px solid $blackActive;
        }
        &_a{
            color: $white_font;
            display: block;
            border: 1px solid #00000000;
            &:focus{
                outline: 1px solid $white_focus;
                outline-offset: 1px;
                border: 1px solid $blackActive;            }
        }
    }
}
