@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;



.analysisSong {
    height: 100%;
    padding: clamp(.5rem, .4rem + .6vw, 3rem);
    border-radius: 6px;
    background-image: linear-gradient(
        220deg,
        hsl(198, 91%, 35%) 0%,
        hsl(199, 34%, 57%) 8%,
        hsl(196, 46%, 37%) 77%
    );

    &:not(:has(.child:hover)):hover::-webkit-scrollbar-thumb, 
    &:hover::-webkit-scrollbar-thumb{
       background: rgba(255, 255, 255, 0.185);
    }
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    @media (max-width: 36.25em) {
        // 580px
        position: absolute;
        bottom: 2.4rem;
        left: 0.5rem;
        height: 2.7rem;
        width: calc(100vw - 1rem);
        background-image: linear-gradient(
            220deg,
            hsla(198, 91%, 35%, 0.886) 0%,
            hsla(199, 34%, 57%, 0.885) 8%,
            hsla(196, 46%, 37%, 0.886) 77%
        );
        backdrop-filter: blur(14px);
    }
    &::-webkit-scrollbar-thumb {       
        background-color: #00000000;
        border-radius: 20px;  
        transition: background-color 5s ease-in 1000ms;
    }
    &::-webkit-scrollbar {
        position: absolute;
        width: .5rem;
        transition: background-color 2s ease-in 100ms;
        @media (max-width: 27.118em) {
            display: none;
        }  
    }
    &_img{
        width: 100%;
        border-radius: 6px;
    }
    &_songNameArtistContainer{
        display: flex;
        flex-direction: column;
        gap: .2rem;
        &_songName{
            @include inter-Font($white_font, 0.7vw, .6rem, 600);
        }
        &_artistName{
            @include inter-Font($white_offWhite_font, .27vw, .35rem, 500);
        }
    }
    &_iconSpotify{
        max-width: 1.2rem;
        aspect-ratio: 1 / 1;

    }
    &_analysisFeturesContainer{
        background-color: #f5f5f513;
        border-radius: 8px;
        padding: .3rem 1.2rem;
        &_item{
            display: flex;
            justify-content: space-between;
            margin:.6rem 0;
            align-items: center;
            &_feature{
                @include inter-Font($white_font, .38vw, .7rem, 500);
                letter-spacing: .04rem;
            }
            &_featureData{
                @include inter-Font($white_offWhite_font, .30vw, .4rem, 400);
                letter-spacing: .04rem;
            }
        }
    }
    &_shareContainer{
        @include inter-Font($white_offWhite_font, .40vw, .4rem, 400);
        display: flex;
        align-items: center;
        gap: .3rem;
        text-decoration: underline;
        cursor: pointer;
        margin-top: .3rem;
        &_icon{
            max-width: 1.1rem;
        }
    }
}

