@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;

.barSearchContainer{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 33rem;   
    @container layerHeaderApp (max-width: 30.313em) {
        display: none;
    } 
    flex: 2;
    &_img{
        position: absolute;
        block-size: .7rem;
        margin-left: .7rem;
        margin-bottom: .06rem;
    }
    &_inputText{
        width: 100%;
        display: inline-block;
        // background-color: rgba(0, 0, 0, 0);
        border: none;
        background-color: $uiGrey;
        display: block;
        border-radius: 2rem;
        gap: .4rem;
        padding: .56rem .6rem .56rem 1.8rem;
        box-shadow: rgba(15, 15, 15, 0.05) 0px 1px 2px;
        @include inter-Font( $white_offWhite, 0.27vw, .65rem, 500);
    }
    &_inputText:focus{
        outline: 2px solid $white_active;
    }
    &_inputText::placeholder{
    }

    
}
