@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;

.playlistAlbumCard {
    padding: clamp(.5rem, .4rem + .3vw, 10rem);
    &_img{
        width: 100%;
        border-radius: 6px;
        margin-bottom: .6rem
    }
    &_name{
        @include inter-Font($white_font, .30vw, .7rem, 500);
    }
    &_details{
        @include inter-Font($white_offWhite_font, .20vw, .7rem, 400);
        &_separation{
            @include inter-Font($white_offWhite_font, .12vw, .4rem, 400);
        }
    }
}