@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;


.playlistAlbumCard {
    max-width: 12rem;
    padding: clamp(.2rem, .3rem + .2vw, 5rem);
    border-radius: 5px;
    transition: background-color .1s ease-in 0ms;
    &:hover{
        background-color: $albumSongHover;
    }
    &_img{
        width: 100%;
        border-radius: 5px;
        margin-bottom: .4rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        @media (max-width: 48em) {
            // 768px
            margin-bottom: 0;
        }
    }
    &_name{
        @include inter-Font($white_font, .35vw, .7rem, 600);
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        @media (max-width: 48em) {
            // 768px
            display: none;
        }
        
    }
    &_details{
        @include inter-Font($white_offWhite_font, .29vw, .7rem, 500);
        margin-top: .3rem;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        @media (max-width: 48em) {
            // 768px
            display: none;
        }
        &_separation{
            @include inter-Font($white_offWhite_font, .12vw, .4rem, 400);
        }
    }
}


.albumPlaylistCardLoading{
    padding: clamp(.2rem, .3rem + .3vw, 10rem);
    border-radius: 6px;
    background-color: $loadingAroundItem;
    margin: .3rem;
    &_img{
        width: 100%;
        border-radius: 6px;
        margin-bottom: clamp(.2rem, .4rem + .3vw, 10rem);
        aspect-ratio: 1/1;
        background-color: $loadingExistingItem;
    }
    &_name{
        min-width: 100%;
        @include inter-Font(rgba(255, 255, 255, 0), .29vw, .7rem, 600);
        background-color: $loadingExistingItem;
        border-radius: 6px;
        margin-bottom: .4rem;
    }
    &_details{
        width: 80%;
        @include inter-Font(rgba(255, 255, 255, 0), .24vw, .7rem, 500);
        border-radius: 6px;
        background-color: $loadingExistingItem;
    }
}
