

$green-main: #11dd54;
$nonBlack: #121010;
$completeBlack: #000000;

$Selected: #292929;
$SelectedHover: #44434321;

$uiGrey: #252424;
$uiGreyHover: #252424;
$uiGreyActive: #252424;


// fonts
$black_font: #000000;
$white_offWhite: #C0C0C0;
$white_font: #ffffff;



// tarjeta color dinamico

//:actives 
$white_active: #ffffff;




@mixin neo ($colorBg, $font-size){
    background-color: $colorBg;
    font-size: $font-size;
}
.div{
    @include neo( #11dd5499 , 10px)
}

//mixin
//varibales
//herencia
//operaciones matematicas
//condificonales