

//main colors
$green-main: #11dd54;
$green-main_active: #13c34e;
$nonBlack: #121010;
$completeBlack: #000000;




// elementos ui como barras de busqueda , scrolls, seleccion de itens
$uiGrey: #1f1f1fb0;
$uiGreyHover: #292929;
$uiGreyHoverBorder: #575757;
$uiGreyActive: #2c2b2b;

// songs, card playlist album interactions
$albumSongHover: #181818;

// loading color
$loadingExistingItem: #181818;
$loadingAroundItem: #141414;


// scrolls
$scroll: #dadada15;
$scrollHover: #dddddd34;
$scrollActive: #dddddd34;


// fonts
$black_font: #000000;
$white_offWhite_font: #acacac;
$white_font: #f5f5f5;



// tarjeta color dinamico

//:actives 
$white_focus: #ffffff;
$blackActive: #000000;



//mixin
//varibales
//herencia
//operaciones matematicas
//condificonales