@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;


.appPage {
    background-color: $completeBlack;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.6fr 3fr 1.1fr;
    grid-template-rows: 3.3rem calc(100vh - 7.8rem) 3.5rem;
    @media (max-width: 25.938em) {
        grid-template-columns: 98%;
    }
    gap: .5rem;
}


.layerHeaderApp{
    max-width: 100vw;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $nonBlack;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
    container: layerHeaderApp / inline-size;
}

.usersLibraryContainer{
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $nonBlack;
    flex: 1.8;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-left: .4rem;
    border-radius: 6px;
    padding-left: clamp(.5rem, .3rem + .5vw, 10rem);
    padding-right: .4rem;
    padding-top: clamp(.5rem, .6rem + .5vw, 10rem);
    &_cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: clamp(.5rem, .4rem + .3vw, 10rem);
        padding-right: clamp(.5rem, .4rem + .3vw, 10rem);
        &_yourLibrary{
            display: flex;
            gap: .7rem;
            align-items: center;
            &_img{
                block-size: 1.4rem;
                margin-bottom: .2rem;
            }
            &_span{
                border: 1px solid #00000000;
                @include inter-Font($white_offWhite_font, .44vw, .7rem, 600);
                &:focus{
                border-radius: 1px;
                    outline: 1px solid $white_focus;
                    outline-offset: 2px;
                    border: 1px solid $blackActive;
                }
            }
        }
    }
    &_content{
        height: 100%;
        display: inline-block;
        display: grid;
        gap: .1rem;
        grid-template-columns: 1fr 1fr 1fr;
        overflow-y: scroll;
        @media (max-width: 20em) {
            grid-template-columns: 1fr 1fr;
        }
        &::-webkit-scrollbar {
            width: .5rem;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $uiGrey;    
            border-radius: 20px;       
        }
    }
}

.songContainer{
    background-color: $nonBlack;
    border-radius: 6px;

}

.analysisAudioContainer{
    background-color: $nonBlack;  
    border-radius: 6px;
    margin-right: .4rem;
}

.layerFooterApp{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    // max-height: 6rem;
    gap: 1.1rem;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1.8rem 1rem 1.8rem;
    @include inter-Font($white_font, .30vw, .7rem, 400);
    @media (max-width: 25.938em) {
        display: none;
    }
    &_linkLeft{

        &_a{
            margin: 0 1rem;
            color: $white_font;
            border: 1px solid #00000000;
            text-decoration: none;
            &:focus{
                border-bottom: 2px solid white;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &_linkRight{
        &_a{
            margin: 0 1rem;
            color: $white_font;
            border: 1px solid #00000000;
            text-decoration: none;
            &:focus{
                border-bottom: 2px solid $white_focus;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
}