@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;



.appPage {
    background-color: $completeBlack;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 26% calc(55% - 1rem) 19%;
    grid-template-rows: 3.3rem calc(100vh - 7.3rem) 3rem;
    gap: .5rem;
    @media (max-width: 75em) {
        // 1200px
        grid-template-columns: 20% calc(80% - 18rem ) 17rem;
    }
    @media (max-width: 48em) {
        // 768px
        grid-template-columns: 10% calc(90% - 16rem ) 15rem;
    }
    @media (max-width: 36.25em) {
        // 580px
        grid-template-rows: 3rem calc(100vh - 6rem) 2rem;
        grid-template-columns: 12% calc(88% - 1rem) 0%;
    }
    @media (max-width: 27em) {
        // 432px  
        grid-template-columns: 100vw;
        grid-template-rows: 3rem calc(100% - 6rem) 6.5rem;
        gap: 0;
    }    
}


.layerHeaderApp{
    max-width: 100vw;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $nonBlack;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
    container: layerHeaderApp / inline-size;

    @media (max-width: 27em) {
        // 432px  
        position:sticky;
        z-index: 1;
        top: 0;
        padding: .5rem .7rem;
        box-shadow: 0px 5px 26px 0px rgba(0, 0, 0, 0.40);
        -webkit-box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.40);
        -moz-box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.40);
    }   
}

.usersLibraryContainer{
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $nonBlack;
    flex: 1.8;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-left: .38rem;
    @media (max-width: 27em) {
        // 432px
        margin-left: 0rem;
        border-radius: 0;
    } 
    &_cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: clamp(.7rem, .2rem + 1vw, 10rem);
        padding-right: clamp(.7rem, .1rem + .8vw, 10rem);
        padding-top: clamp(.9rem, .3rem + .8vw, 10rem);
        padding-bottom: clamp(.7rem, .3rem + .8vw, 10rem); 
        &_yourLibrary{
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media (max-width: 48em) {
                // 768px
                justify-content: center;
            }
            @media (max-width: 27em) {
                // 432px
                justify-content: space-between;
            }  
            &_leftText{
                display: flex;
                gap: .3rem;
                align-items: center;
                &_img{
                    block-size: 1.1rem;
                    margin-bottom: .2rem;
                    @media (max-width: 48em) {
                        // 768px
                        block-size: 1.3rem;
                        margin-left: .2rem;;
                    }
                }
                &_span{
                    border: 1px solid #00000000;
                    @include inter-Font($white_offWhite_font, .44vw, .7rem, 600);
                    @media (max-width: 48em) {
                        // 768px
                        display: none;
                    }
                    @media (max-width: 27em) {
                        // 432px
                        display: initial;
                    }  
                }
            }
            &_fourSquareButton{
                background-color: #00000000;
                padding: none;
                outline: none;
                block-size: 1.3rem;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                &_img{
                    block-size: 1.4rem;
                    @media (max-width: 48em) {
                        // 768px
                        display: none;
                    }
                    @media (max-width: 27em) {
                        // 432px
                        display: initial;
                        block-size: 1.5rem;
                    }  
                    &:hover{
                        block-size: 1.33rem;
                        @media (max-width: 27em) {
                            // 432px
                            display: initial;
                            block-size: 1.5rem;
                        } 
                    }
                    &:active{
                        block-size: 1.4rem;
                        @media (max-width: 27em) {
                            // 432px
                            display: initial;
                            block-size: 1.55rem;
                        }  
                    }
                }
            }

        }
    }
    &_content{
        display: grid;
        gap: .1rem;
        padding-right: clamp(.1rem, .0rem + .1vw, 3rem);
        padding-left: clamp(.2rem, .4rem + .35vw, 3rem);
        grid-template-columns: 33.333% 33.333% 33.333%;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        @media (max-width: 75em) {
            // 1200px
            grid-template-columns: 50% 50%;
        }
        @media (max-width: 75em) {
            // 1200px
            grid-template-columns: 50% 50%;
        }
        @media (max-width: 48em) {
            // 768px
            grid-template-columns: 100%;    
        } 
        @media (max-width: 27em) {
            // 432px
            grid-template-columns: calc(33.33% - .2rem) calc(33.33% - .2rem) calc(33.33% - .2rem);
            padding-right: clamp(.2rem, .4rem + .35vw, 3rem);
            gap: .3rem;
        }   
        &:hover::-webkit-scrollbar-thumb{
            background-color: $scroll;
        }
        &::-webkit-scrollbar-thumb:active{
            background-color: $scrollActive;
        }
        &::-webkit-scrollbar-thumb {       
            background-color: #00000000;
            border-radius: 20px;  
            transition: background-color 5s ease-in 1000ms;
        }
        &::-webkit-scrollbar {
            position: absolute;
            width: .5rem;
            transition: background-color 2s ease-in 100ms;
            // @media (max-width: 27.118em) {
            //     display: none;
            // }  
        }

    }
}

.songContainer{
    background-color: $nonBlack;
    border-radius: 6px;
    overflow-y: scroll ;
    overflow-x: hidden;
    &:hover::-webkit-scrollbar-thumb{
        background-color: $uiGrey;
    }
    &::-webkit-scrollbar-thumb:active{
        background-color: $uiGreyActive;
    }
    &::-webkit-scrollbar {
        width: .5rem;
        transition: background-color 2s ease-in 100ms;
        position: absolute;
        @media (max-width: 27.118em) {
            display: none;
        }  
    }
    &::-webkit-scrollbar-thumb {      
        position: absolute;
        background-color: #c3232300;
        border-radius: 20px;  
        transition: background-color 5s ease-in 1000ms;
    }
    &_fixedScrollHead{
        position: -webkit-sticky; /* Para navegadores WebKit */
        position: sticky;  
        top: 0;
        min-width: calc(100% + 5rem);
        height: 2.4rem;
        z-index: 100;  
        background-color: $nonBlack;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: clamp(.2rem, .1rem + .2vw, 2rem);
        padding-left: clamp(.2rem, .3rem + .5vw, 2rem);
        color: white;
        @include inter-Font($white_font, 1vw, .2rem, 700);
        text-overflow: ellipsis
    }

    &_containerSongs{
        margin-right: clamp(.2rem, .1rem + .2vw, 2rem);
        margin-left: clamp(.2rem, .3rem + .5vw, 2rem);
        &_cabeceraSongs{
            display: grid;
            grid-template-columns: 6% 52% calc(42% - .6rem);
            gap: .2rem;
            background-color: $nonBlack;
            border-bottom: 1px solid #4d4d4d;
            padding: .5rem 0 .5rem 0;
            margin-bottom: .25rem;
            margin-top: .3rem;
            position: sticky;  
            top: 0rem;
            &_span{
                @include inter-Font($white_offWhite_font, .26vw, .5rem, 600);
                &:nth-child(1){
                    text-align: center;
                }
            }
        }

    }
}

.analysisAudioContainer{
    border-radius: 6px;
    margin-right: .46rem;
}

.layerFooterApp{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    gap: 1.1rem;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1rem 1rem 1rem;

    @include inter-Font($white_font, .30vw, .7rem, 400);
    @media (max-width: 48em) {
        // 768px
        padding: .7rem .7rem 1rem .7rem;
    }
    @media (max-width: 36.25em) {
        // 580px
        position: fixed;
        bottom: 0rem;
        display: flex;
        padding: 0 .6rem .2rem .6rem;
        height: 3rem;
        width: 100%;
        background-color:$nonBlack ;
    }
    &_linkLeft{

        &_a{
            color: $white_font;
            border: 1px solid #00000000;
            text-decoration: none;
            &:focus{
                border-bottom: 2px solid white;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &_linkRight{
        &_a{
            color: $white_font;
            border: 1px solid #00000000;
            text-decoration: none;
            &:focus{
                border-bottom: 2px solid $white_focus;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
}