@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;

.container{
    padding: clamp(.2rem, .3rem + .5vw, 2rem) clamp(.2rem, .3rem + .5vw, 2rem) 0 clamp(.2rem, .3rem + .5vw, 2rem);
    display: grid;
    grid-template-columns: 19% 81%;
    gap: clamp(.4rem , .45rem + .45vw, 1.4rem);
    align-items: center;
    padding-right: 1rem;
    &_img{
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        max-width: 16rem;
        border-radius: 3.5px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }   

    &_detailsTextContainer{
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .1rem;
        &_secondText{
            @include inter-Font($white_offWhite_font, .34vw, .5rem, 500);
            &_pointSeparator{
                margin: 0 .2rem;
            }
        }
        &_mainText{
            @include inter-Font($white_font, 2vw, .2rem, 700);
            text-overflow: ellipsis
        }
    }
}
