@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;

.button{
    // max-height: 2rem;
    border-radius: 9rem;
    display: flex;
    gap: .4rem;
    padding: .1rem 1rem;
    max-height: 1.9rem;
    cursor: pointer;
    align-items: center;
    background-color: $green-main;
    border: none;
    -webkit-box-shadow: 0px 0px 24px -4px #51515197;
    -moz-box-shadow: 0px 0px 24px -4px #51515197;
    box-shadow: 0px 0px 24px -4px #51515197;
    &:focus{
        outline: 2px solid $white_active;
    }
    &_img{
        block-size: .9rem;
    }
    &_h4{
        @include inter-Font( $black_font, 0.31vw, .7rem, 500)
    }
}
