@use "/src/styles/fonts.module.scss" as *;
@use "/src/styles/pallette.module.scss" as *;


.somethingwrong {
    width: 100vw;
    height: 100vh;
    background-color: $nonBlack;
    display: flex;
    gap: .7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_img{
        block-size: 8rem
    }
    &_h3{
        @include inter-Font($white_font, .8vw, .5rem, 600);
    }
    &_h4{
        @include inter-Font($white_offWhite_font, 0.37vw, .7rem, 400);
        &_span{
            cursor: pointer;
            text-decoration: underline;
            @include inter-Font($green-main, 0.36vw, .7rem, 400);
        }
    }
}